workflows/github-backup.json
{
  "updatedAt": "2026-03-23T14:26:53.863Z",
  "createdAt": "2026-03-23T14:04:49.071Z",
  "id": "YdJ0DTmXAUabnHVf",
  "name": "github-backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "6c5b977d-3483-4f75-aa92-aad8e64357e3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        528,
        528
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').item.json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').item.json.repo_name }}"
        },
        "filePath": "=index.json",
        "fileContent": "{}",
        "commitMessage": "=Index (Created) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "baf108d9-504a-47b3-b298-16d8593806db",
      "name": "Create Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        1376,
        688
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_name }}"
        },
        "filePath": "index.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "5503adcf-1751-4af5-a6e7-310c3cd04d91",
      "name": "Get Download Url for Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        928,
        528
      ],
      "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "d3e12ca7-0529-46aa-be32-a76d4c33f4a0",
      "name": "Get Index File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1152,
        512
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "=The resource you are requesting could not be found"
            }
          ]
        },
        "options": {}
      },
      "id": "77025a07-de3d-42af-88a3-24be9bffd93b",
      "name": "Index File Not Found",
      "type": "n8n-nodes-base.if",
      "position": [
        1152,
        704
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "452d7af0-1a81-4426-a171-0379eb83f575",
              "name": "repo_owner",
              "type": "string",
              "value": "viterbominard"
            },
            {
              "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-instance-backup"
            }
          ]
        },
        "options": {}
      },
      "id": "c0702a9f-4a2a-481a-9c14-937f596e5221",
      "name": "Set Github Data",
      "type": "n8n-nodes-base.set",
      "position": [
        736,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "059d16d0-3c10-4961-92a0-4bbc35c331a6",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        560,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "41011590-9bd2-4563-9c58-fe36b67a04fe",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1584,
        688
      ],
      "webhookId": "6d7f1445-a6c5-4ebb-bae3-a4ebbeed5f95",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "filters": {
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "id": "5a5218ab-1006-4a8d-bb5d-39ff5aacab07",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1360,
        512
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "htN1ihUR63zRPZzx",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =======================\n// READ INPUTS\n// =======================\n\n// Current workflows from n8n\nconst workflows = $input.all()\n  .map(i => i.json)\n  .filter(w => w && typeof w.id === 'string' && typeof w.name === 'string');\n\nconst indexData = JSON.parse($('Get Index File Content').first()?.json?.data || '{}');\n\n// =======================\n// PREPARE STATE\n// =======================\n\nconst results = [];\nconst updatedIndex = { ...indexData };\n\n// Track only REAL workflow IDs from index\nconst existingIds = new Set(Object.keys(indexData));\n\n// =======================\n// STEP 1: CREATE / EDIT / RENAME\n// =======================\n\nfor (const workflow of workflows) {\n  const id = workflow.id;\n  const name = workflow.name || 'unnamed';\n  const path = `workflows/${name}.json`;\n\n  // -------- CREATE --------\n  if (!indexData[id]) {\n    updatedIndex[id] = { name, file_path: path };\n\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    continue;\n  }\n\n  // -------- RENAME --------\n  if (indexData[id].name !== name) {\n    // delete old file\n    results.push({\n      status: 'delete',\n      workflowId: id,\n      name: indexData[id].name,\n      path: indexData[id].file_path\n    });\n\n    // create new file\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    updatedIndex[id] = { name, file_path: path };\n    existingIds.delete(id);\n    continue;\n  }\n\n  // -------- EDIT --------\n  results.push({\n    status: 'edit',\n    workflowId: id,\n    name,\n    path: indexData[id].file_path,\n    data: workflow\n  });\n\n  existingIds.delete(id);\n}\n\n// =======================\n// STEP 2: DELETE REMOVED WORKFLOWS\n// =======================\n\nfor (const id of existingIds) {\n  results.push({\n    status: 'delete',\n    workflowId: id,\n    name: indexData[id].name,\n    path: indexData[id].file_path\n  });\n\n  delete updatedIndex[id];\n}\n\n// =======================\n// STEP 3: INDEX UPDATE (ONLY IF CHANGED)\n// =======================\n\nif (JSON.stringify(indexData) !== JSON.stringify(updatedIndex)) {\n  results.push({\n    status: 'index',\n    data: updatedIndex\n  });\n}\n\n// =======================\n// OUTPUT FOR N8N\n// =======================\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "8bba0e62-6ea5-4cbc-85a2-100f58034d52",
      "name": "C,E,D Checker",
      "type": "n8n-nodes-base.code",
      "position": [
        1584,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "={{ $json.name }} (Created) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "a23f259e-ea7c-4db0-84a1-6168649b2d02",
      "name": "Create New Files",
      "type": "n8n-nodes-base.github",
      "position": [
        2112,
        240
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "index.json",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "=Index (Edited) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "ba706cce-cb17-49f8-aa39-4dba2ea48843",
      "name": "Update Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        2112,
        800
      ],
      "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "be3e0f18-820f-4589-b2b1-4ba9683412b0",
      "name": "Get Download Url for Github File",
      "type": "n8n-nodes-base.github",
      "position": [
        2112,
        400
      ],
      "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "97023852-faa0-4c13-91fc-7d080beae826",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "create"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Create"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ae9ec2ae-f5d7-47be-85a5-7c13cf4b6688",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "edit"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Edit"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8f1e5618-6223-4ad3-afc8-b8e8d74b8f05",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "delete"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Delete"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b548ed0b-878d-45da-80c7-28347fa3d555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "index"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Update Index"
            }
          ]
        },
        "options": {}
      },
      "id": "9da26268-fd6b-4977-854c-fd69c8e665cc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1792,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "={{ $json.name }} (Deleted) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "7b0221e1-93c0-45ec-af8e-33b518182777",
      "name": "Delete Files",
      "type": "n8n-nodes-base.github",
      "position": [
        2112,
        624
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "0fb85ece-5bb8-4ab5-8517-e3437a5adeb1",
      "name": "Get Github File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2368,
        400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(i => ({\n  json: {\n    githubData: JSON.parse(i.json.data || '{}')\n  }\n}));"
      },
      "id": "4e88f19a-91df-47d2-8b33-c81a96f0ca51",
      "name": "Parse Github File Content",
      "type": "n8n-nodes-base.code",
      "position": [
        2592,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const normalize = (obj) =>\n  JSON.stringify(obj, (_, value) =>\n    value && typeof value === 'object' && !Array.isArray(value)\n      ? Object.keys(value)\n          .sort()\n          .reduce((o, k) => {\n            o[k] = value[k];\n            return o;\n          }, {})\n      : value\n  );\n\nreturn $input.all()\n  .filter(item =>\n    normalize(item.json.githubData) !== normalize(item.json.data)\n  )\n  .map(item => {\n    const { githubData, ...rest } = item.json;\n    return { json: rest };\n  });"
      },
      "id": "9be78cb7-779d-4147-93fd-d61ec2dd5144",
      "name": "File Edit Checker",
      "type": "n8n-nodes-base.code",
      "position": [
        3040,
        416
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4575e85d-c3b2-44b4-8d69-cf6b2881d74d",
      "name": "Merge Github & n8n File",
      "type": "n8n-nodes-base.merge",
      "position": [
        2816,
        416
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7f597ed3-ce0c-4830-97b8-3a07e9dda11f",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.status !== null && $json.status !== undefined }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b0bb8cd3-fe66-474d-869a-a03731b8c399",
      "name": "If File Edited",
      "type": "n8n-nodes-base.if",
      "position": [
        3264,
        416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "={{ $json.name }} (Edited) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "9dcc73d4-67f7-4d2d-a459-3bf15dc7cd7f",
      "name": "Edit Files",
      "type": "n8n-nodes-base.github",
      "position": [
        3488,
        400
      ],
      "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "# n8n-Workflow-Github-Backup",
        "height": 1443,
        "width": 3270,
        "color": 7
      },
      "id": "4dfad609-fdd8-4a9f-9714-83f58815de9a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Automatically backup n8n workflows to GitHub\n\n**Flow:**\n1. Trigger (Schedule/Manual)\n2. Get/Create index.json in GitHub\n3. Fetch all n8n workflows\n4. Compare with GitHub index\n5. Create/Edit/Delete files as needed\n6. Update index.json\n\n\n**Features:**\n- Daily automatic backups (7 PM)\n- Detects new, edited, renamed, and deleted workflows\n- Maintains an index for tracking\n- Smart comparison to avoid unnecessary commits",
        "height": 416,
        "width": 512,
        "color": 2
      },
      "id": "8568d766-189d-4e1b-9b8d-0c17e1088f03",
      "name": "Workflow Summary",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP REQUIREMENTS\n\n**1️⃣ GitHub OAuth Credentials**\n- Go to *Credentials → New → GitHub OAuth2*\n- Create GitHub OAuth App:\n  - Settings → Developer settings → OAuth Apps\n  - Authorization callback URL: your n8n instance\n  - Enter Client ID & Secret in n8n\n\n\n**2️⃣ GitHub Repository**\n- Create a new repository (public/private)\n- Copy repository owner and name\n\n\n**3️⃣ Configure Workflow**\n- Edit \"Set Github Data\" node:\n  - `repo_owner`: your GitHub username\n  - `repo_name`: your repository name\n- Connect GitHub OAuth credentials to all GitHub nodes\n\n\n**4️⃣ n8n API Credentials**\n- Go to *Settings → API*\n- Create new API key\n- Add as n8n credential in workflow\n\n✅ Test manually before enabling schedule",
        "height": 608,
        "width": 500,
        "color": 4
      },
      "id": "9946294a-45e5-4944-a4df-ac5b2d5ff6e5",
      "name": "Setup Requirements",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📂 INDEX SYSTEM\n\n**index.json structure:**\n```json\n{\n  \"workflow_id_1\": {\n    \"name\": \"Workflow Name\",\n    \"file_path\": \"workflows/Workflow Name.json\"\n  },\n  \"workflow_id_2\": { ... }\n}\n```\n\n**Purpose:**\n- Tracks which workflows exist in GitHub\n- Maps workflow IDs to file paths\n- Enables detection of renames and deletes\n\n**First Run:**\n- If index.json doesn't exist, it's created automatically\n- 3-second wait allows file creation to complete",
        "height": 472,
        "width": 420,
        "color": 5
      },
      "id": "a8502679-1663-498c-a858-22fa7b26d73f",
      "name": "Index System",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 C,E,D CHECKER\n\n**Compare & Decision Logic:**\n\nFor each n8n workflow:\n- **CREATE:** New workflow not in index\n- **RENAME:** Workflow name changed\n  - Deletes old file\n  - Creates new file with new name\n- **EDIT:** Existing workflow (checked later for actual changes)\n\n\nFor workflows in index but not in n8n:\n- **DELETE:** Workflow removed from n8n\n\n\nFor index itself:\n- **UPDATE INDEX:** If any changes detected\n\n**Output:** Array of actions to take",
        "height": 456,
        "width": 400,
        "color": 6
      },
      "id": "509f4181-c980-43d9-aaf4-8843c57790aa",
      "name": "C,E,D Checker Logic",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔀 SWITCH ROUTING\n\nRoutes items based on status:\n\n**Create Branch:**\n- New workflows → Create New Files\n\n\n**Edit Branch:**\n- Existing workflows → Smart edit check\n- Fetches GitHub version\n- Compares with n8n version\n- Only commits if actually different\n\n\n**Delete Branch:**\n- Removed workflows → Delete Files\n\n\n**Update Index Branch:**\n- Index changed → Update Index File\n\n\nEach branch processes independently.",
        "height": 496,
        "width": 360,
        "color": 7
      },
      "id": "58bdd1d3-f66e-4e0e-92ba-34984a6a1c36",
      "name": "Switch Routing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✏️ SMART EDIT DETECTION\n\n**Why needed:**\n- n8n changes timestamps/metadata on save\n- Prevents unnecessary commits\n\n\n**Process:**\n1. Fetch current file from GitHub\n2. Parse both GitHub & n8n versions\n3. Normalize JSON (sort keys)\n4. Compare stringified versions\n5. Only commit if truly different\n\n\n**Benefits:**\n- Cleaner commit history\n- No spam commits\n- Saves GitHub API calls",
        "height": 428,
        "width": 380,
        "color": 6
      },
      "id": "6dd7f0b9-52bd-4261-ac9c-762356844060",
      "name": "Smart Edit Detection",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3024,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 COMMIT MESSAGES\n\nAuto-generated commit messages:\n\n**Format:** `[Workflow Name] ([Action]) YYYY-MM-DD`\n\n**Examples:**\n- `My Workflow (Created) 2026-01-15`\n- `My Workflow (Edited) 2026-01-15`\n- `My Workflow (Deleted) 2026-01-15`\n- `Index (Edited) 2026-01-15`\n\n\n**Benefits:**\n- Clear action history\n- Easy to track changes\n- Searchable by date",
        "height": 404,
        "width": 360,
        "color": 3
      },
      "id": "c72af403-2214-4d74-8fd0-e59928da3038",
      "name": "Commit Messages",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "=The resource you are requesting could not be found"
            }
          ]
        },
        "options": {}
      },
      "id": "a267a912-9806-42df-aa42-081337c2da01",
      "name": "Workflows Folder Not Found",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        1840
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c788bc8c-534f-4b50-9147-be4e2eeb6882",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1200,
        1600
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "a9475aac-fcdf-46a3-94f5-924e20a23488",
      "name": "Get File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        1616
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_name }}"
        },
        "filePath": "workflows/"
      },
      "id": "4c0c8520-e291-4a14-9e31-a80153a9c0fc",
      "name": "List Workflow Files",
      "type": "n8n-nodes-base.github",
      "position": [
        976,
        1616
      ],
      "webhookId": "b4034155-275a-407e-8168-e9e9c7b1babe",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "E37M2EwCiydcBefw",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.data }}",
        "requestOptions": {}
      },
      "id": "8d42daef-f37e-4aea-ae58-b7e87d9d1385",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1664,
        1616
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "htN1ihUR63zRPZzx",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔄 HOW IT WORKS\n\n**Sequential Processing:**\n- Loops through files one at a time\n- Downloads JSON from GitHub\n- Creates workflow in n8n\n- Prevents conflicts and rate limits\n\n**Error Handling:**\n- If `workflows/` folder not found → stops gracefully\n- Ensure backup workflow ran at least once first",
        "height": 284,
        "width": 400,
        "color": 6
      },
      "id": "5ba29273-7901-4c81-b65e-51fa64090dce",
      "name": "How It Works",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "452d7af0-1a81-4426-a171-0379eb83f575",
              "name": "repo_owner",
              "type": "string",
              "value": "your-github-username"
            },
            {
              "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
              "name": "repo_name",
              "type": "string",
              "value": "your-github-repository-name"
            }
          ]
        },
        "options": {}
      },
      "id": "e0a6879b-cb51-49cc-a156-447c89452747",
      "name": "Set Github Data1",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        1616
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# n8n-Workflow-Github-Restore",
        "height": 675,
        "width": 1494,
        "color": 7
      },
      "id": "b5fd496c-0817-4123-ac33-0b6cc8890d2c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        1456
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Restore n8n workflows from GitHub backup\n\n**Flow:**\n1. Manual trigger\n2. Set GitHub repo details\n3. List workflow files from GitHub\n4. Loop through each file\n5. Download & create workflow in n8n\n\n\n**Use Cases:**\n- New n8n instance setup\n- Disaster recovery\n- Cloning workflows to another environment",
        "height": 372,
        "width": 416,
        "color": 2
      },
      "id": "d8436e03-1833-43ce-9059-6660c7fc3819",
      "name": "Workflow Summary1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1456
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Github Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Index File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download Url for Index File": {
      "main": [
        [
          {
            "node": "Get Index File Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Index File Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Index File Content": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index File Not Found": {
      "main": [
        [
          {
            "node": "Create Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Github Data": {
      "main": [
        [
          {
            "node": "Get Download Url for Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Github Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set Github Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "C,E,D Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C,E,D Checker": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download Url for Github File": {
      "main": [
        [
          {
            "node": "Get Github File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create New Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Download Url for Github File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Github & n8n File",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Delete Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Github File Content": {
      "main": [
        [
          {
            "node": "Parse Github File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Github File Content": {
      "main": [
        [
          {
            "node": "Merge Github & n8n File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Edit Checker": {
      "main": [
        [
          {
            "node": "If File Edited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Github & n8n File": {
      "main": [
        [
          {
            "node": "File Edit Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Edited": {
      "main": [
        [
          {
            "node": "Edit Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflows Folder Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Github Data1": {
      "main": [
        [
          {
            "node": "List Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "5579b3fb-615b-4c32-94ab-2f82c3e72a2b",
  "activeVersionId": "5579b3fb-615b-4c32-94ab-2f82c3e72a2b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T14:04:49.164Z",
      "createdAt": "2026-03-23T14:04:49.164Z",
      "role": "workflow:owner",
      "workflowId": "YdJ0DTmXAUabnHVf",
      "projectId": "K0EgCP5sbv56N9ed"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-23T14:27:17.000Z",
    "createdAt": "2026-03-23T14:16:48.069Z",
    "versionId": "5579b3fb-615b-4c32-94ab-2f82c3e72a2b",
    "workflowId": "YdJ0DTmXAUabnHVf",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 19
              }
            ]
          }
        },
        "id": "6c5b977d-3483-4f75-aa92-aad8e64357e3",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          528,
          528
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').item.json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').item.json.repo_name }}"
          },
          "filePath": "=index.json",
          "fileContent": "{}",
          "commitMessage": "=Index (Created) {{ new Date().toISOString().split('T')[0] }}"
        },
        "id": "baf108d9-504a-47b3-b298-16d8593806db",
        "name": "Create Index File",
        "type": "n8n-nodes-base.github",
        "position": [
          1376,
          688
        ],
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo_name }}"
          },
          "filePath": "index.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "5503adcf-1751-4af5-a6e7-310c3cd04d91",
        "name": "Get Download Url for Index File",
        "type": "n8n-nodes-base.github",
        "position": [
          928,
          528
        ],
        "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "d3e12ca7-0529-46aa-be32-a76d4c33f4a0",
        "name": "Get Index File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1152,
          512
        ],
        "retryOnFail": true,
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": "=The resource you are requesting could not be found"
              }
            ]
          },
          "options": {}
        },
        "id": "77025a07-de3d-42af-88a3-24be9bffd93b",
        "name": "Index File Not Found",
        "type": "n8n-nodes-base.if",
        "position": [
          1152,
          704
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "452d7af0-1a81-4426-a171-0379eb83f575",
                "name": "repo_owner",
                "type": "string",
                "value": "viterbominard"
              },
              {
                "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
                "name": "repo_name",
                "type": "string",
                "value": "n8n-instance-backup"
              }
            ]
          },
          "options": {}
        },
        "id": "c0702a9f-4a2a-481a-9c14-937f596e5221",
        "name": "Set Github Data",
        "type": "n8n-nodes-base.set",
        "position": [
          736,
          528
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {},
        "id": "059d16d0-3c10-4961-92a0-4bbc35c331a6",
        "name": "When clicking ‘Execute workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          560,
          1616
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "amount": 3
        },
        "id": "41011590-9bd2-4563-9c58-fe36b67a04fe",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "position": [
          1584,
          688
        ],
        "webhookId": "6d7f1445-a6c5-4ebb-bae3-a4ebbeed5f95",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "filters": {
            "excludePinnedData": true
          },
          "requestOptions": {}
        },
        "id": "5a5218ab-1006-4a8d-bb5d-39ff5aacab07",
        "name": "Get All Workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          1360,
          512
        ],
        "executeOnce": false,
        "retryOnFail": true,
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "n8nApi": {
            "id": "htN1ihUR63zRPZzx",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// =======================\n// READ INPUTS\n// =======================\n\n// Current workflows from n8n\nconst workflows = $input.all()\n  .map(i => i.json)\n  .filter(w => w && typeof w.id === 'string' && typeof w.name === 'string');\n\nconst indexData = JSON.parse($('Get Index File Content').first()?.json?.data || '{}');\n\n// =======================\n// PREPARE STATE\n// =======================\n\nconst results = [];\nconst updatedIndex = { ...indexData };\n\n// Track only REAL workflow IDs from index\nconst existingIds = new Set(Object.keys(indexData));\n\n// =======================\n// STEP 1: CREATE / EDIT / RENAME\n// =======================\n\nfor (const workflow of workflows) {\n  const id = workflow.id;\n  const name = workflow.name || 'unnamed';\n  const path = `workflows/${name}.json`;\n\n  // -------- CREATE --------\n  if (!indexData[id]) {\n    updatedIndex[id] = { name, file_path: path };\n\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    continue;\n  }\n\n  // -------- RENAME --------\n  if (indexData[id].name !== name) {\n    // delete old file\n    results.push({\n      status: 'delete',\n      workflowId: id,\n      name: indexData[id].name,\n      path: indexData[id].file_path\n    });\n\n    // create new file\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    updatedIndex[id] = { name, file_path: path };\n    existingIds.delete(id);\n    continue;\n  }\n\n  // -------- EDIT --------\n  results.push({\n    status: 'edit',\n    workflowId: id,\n    name,\n    path: indexData[id].file_path,\n    data: workflow\n  });\n\n  existingIds.delete(id);\n}\n\n// =======================\n// STEP 2: DELETE REMOVED WORKFLOWS\n// =======================\n\nfor (const id of existingIds) {\n  results.push({\n    status: 'delete',\n    workflowId: id,\n    name: indexData[id].name,\n    path: indexData[id].file_path\n  });\n\n  delete updatedIndex[id];\n}\n\n// =======================\n// STEP 3: INDEX UPDATE (ONLY IF CHANGED)\n// =======================\n\nif (JSON.stringify(indexData) !== JSON.stringify(updatedIndex)) {\n  results.push({\n    status: 'index',\n    data: updatedIndex\n  });\n}\n\n// =======================\n// OUTPUT FOR N8N\n// =======================\n\nreturn results.map(r => ({ json: r }));"
        },
        "id": "8bba0e62-6ea5-4cbc-85a2-100f58034d52",
        "name": "C,E,D Checker",
        "type": "n8n-nodes-base.code",
        "position": [
          1584,
          512
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "={{ $json.name }} (Created) {{ new Date().toISOString().split('T')[0] }}"
        },
        "id": "a23f259e-ea7c-4db0-84a1-6168649b2d02",
        "name": "Create New Files",
        "type": "n8n-nodes-base.github",
        "position": [
          2112,
          240
        ],
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_name }}"
          },
          "filePath": "index.json",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "=Index (Edited) {{ new Date().toISOString().split('T')[0] }}"
        },
        "id": "ba706cce-cb17-49f8-aa39-4dba2ea48843",
        "name": "Update Index File",
        "type": "n8n-nodes-base.github",
        "position": [
          2112,
          800
        ],
        "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "be3e0f18-820f-4589-b2b1-4ba9683412b0",
        "name": "Get Download Url for Github File",
        "type": "n8n-nodes-base.github",
        "position": [
          2112,
          400
        ],
        "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "97023852-faa0-4c13-91fc-7d080beae826",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "create"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Create"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "ae9ec2ae-f5d7-47be-85a5-7c13cf4b6688",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "edit"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Edit"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "8f1e5618-6223-4ad3-afc8-b8e8d74b8f05",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "delete"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Delete"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "b548ed0b-878d-45da-80c7-28347fa3d555",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "index"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Update Index"
              }
            ]
          },
          "options": {}
        },
        "id": "9da26268-fd6b-4977-854c-fd69c8e665cc",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          1792,
          480
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "={{ $json.name }} (Deleted) {{ new Date().toISOString().split('T')[0] }}"
        },
        "id": "7b0221e1-93c0-45ec-af8e-33b518182777",
        "name": "Delete Files",
        "type": "n8n-nodes-base.github",
        "position": [
          2112,
          624
        ],
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "0fb85ece-5bb8-4ab5-8517-e3437a5adeb1",
        "name": "Get Github File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2368,
          400
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(i => ({\n  json: {\n    githubData: JSON.parse(i.json.data || '{}')\n  }\n}));"
        },
        "id": "4e88f19a-91df-47d2-8b33-c81a96f0ca51",
        "name": "Parse Github File Content",
        "type": "n8n-nodes-base.code",
        "position": [
          2592,
          400
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const normalize = (obj) =>\n  JSON.stringify(obj, (_, value) =>\n    value && typeof value === 'object' && !Array.isArray(value)\n      ? Object.keys(value)\n          .sort()\n          .reduce((o, k) => {\n            o[k] = value[k];\n            return o;\n          }, {})\n      : value\n  );\n\nreturn $input.all()\n  .filter(item =>\n    normalize(item.json.githubData) !== normalize(item.json.data)\n  )\n  .map(item => {\n    const { githubData, ...rest } = item.json;\n    return { json: rest };\n  });"
        },
        "id": "9be78cb7-779d-4147-93fd-d61ec2dd5144",
        "name": "File Edit Checker",
        "type": "n8n-nodes-base.code",
        "position": [
          3040,
          416
        ],
        "executeOnce": false,
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "4575e85d-c3b2-44b4-8d69-cf6b2881d74d",
        "name": "Merge Github & n8n File",
        "type": "n8n-nodes-base.merge",
        "position": [
          2816,
          416
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "7f597ed3-ce0c-4830-97b8-3a07e9dda11f",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.status !== null && $json.status !== undefined }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "b0bb8cd3-fe66-474d-869a-a03731b8c399",
        "name": "If File Edited",
        "type": "n8n-nodes-base.if",
        "position": [
          3264,
          416
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set Github Data').first().json.repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "={{ $json.name }} (Edited) {{ new Date().toISOString().split('T')[0] }}"
        },
        "id": "9dcc73d4-67f7-4d2d-a459-3bf15dc7cd7f",
        "name": "Edit Files",
        "type": "n8n-nodes-base.github",
        "position": [
          3488,
          400
        ],
        "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "content": "# n8n-Workflow-Github-Backup",
          "height": 1443,
          "width": 3270,
          "color": 7
        },
        "id": "4dfad609-fdd8-4a9f-9714-83f58815de9a",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          432,
          -32
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Automatically backup n8n workflows to GitHub\n\n**Flow:**\n1. Trigger (Schedule/Manual)\n2. Get/Create index.json in GitHub\n3. Fetch all n8n workflows\n4. Compare with GitHub index\n5. Create/Edit/Delete files as needed\n6. Update index.json\n\n\n**Features:**\n- Daily automatic backups (7 PM)\n- Detects new, edited, renamed, and deleted workflows\n- Maintains an index for tracking\n- Smart comparison to avoid unnecessary commits",
          "height": 416,
          "width": 512,
          "color": 2
        },
        "id": "8568d766-189d-4e1b-9b8d-0c17e1088f03",
        "name": "Workflow Summary",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -112,
          816
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## ⚙️ SETUP REQUIREMENTS\n\n**1️⃣ GitHub OAuth Credentials**\n- Go to *Credentials → New → GitHub OAuth2*\n- Create GitHub OAuth App:\n  - Settings → Developer settings → OAuth Apps\n  - Authorization callback URL: your n8n instance\n  - Enter Client ID & Secret in n8n\n\n\n**2️⃣ GitHub Repository**\n- Create a new repository (public/private)\n- Copy repository owner and name\n\n\n**3️⃣ Configure Workflow**\n- Edit \"Set Github Data\" node:\n  - `repo_owner`: your GitHub username\n  - `repo_name`: your repository name\n- Connect GitHub OAuth credentials to all GitHub nodes\n\n\n**4️⃣ n8n API Credentials**\n- Go to *Settings → API*\n- Create new API key\n- Add as n8n credential in workflow\n\n✅ Test manually before enabling schedule",
          "height": 608,
          "width": 500,
          "color": 4
        },
        "id": "9946294a-45e5-4944-a4df-ac5b2d5ff6e5",
        "name": "Setup Requirements",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -112,
          160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 📂 INDEX SYSTEM\n\n**index.json structure:**\n```json\n{\n  \"workflow_id_1\": {\n    \"name\": \"Workflow Name\",\n    \"file_path\": \"workflows/Workflow Name.json\"\n  },\n  \"workflow_id_2\": { ... }\n}\n```\n\n**Purpose:**\n- Tracks which workflows exist in GitHub\n- Maps workflow IDs to file paths\n- Enables detection of renames and deletes\n\n**First Run:**\n- If index.json doesn't exist, it's created automatically\n- 3-second wait allows file creation to complete",
          "height": 472,
          "width": 420,
          "color": 5
        },
        "id": "a8502679-1663-498c-a858-22fa7b26d73f",
        "name": "Index System",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1200,
          896
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 🔍 C,E,D CHECKER\n\n**Compare & Decision Logic:**\n\nFor each n8n workflow:\n- **CREATE:** New workflow not in index\n- **RENAME:** Workflow name changed\n  - Deletes old file\n  - Creates new file with new name\n- **EDIT:** Existing workflow (checked later for actual changes)\n\n\nFor workflows in index but not in n8n:\n- **DELETE:** Workflow removed from n8n\n\n\nFor index itself:\n- **UPDATE INDEX:** If any changes detected\n\n**Output:** Array of actions to take",
          "height": 456,
          "width": 400,
          "color": 6
        },
        "id": "509f4181-c980-43d9-aaf4-8843c57790aa",
        "name": "C,E,D Checker Logic",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1376,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 🔀 SWITCH ROUTING\n\nRoutes items based on status:\n\n**Create Branch:**\n- New workflows → Create New Files\n\n\n**Edit Branch:**\n- Existing workflows → Smart edit check\n- Fetches GitHub version\n- Compares with n8n version\n- Only commits if actually different\n\n\n**Delete Branch:**\n- Removed workflows → Delete Files\n\n\n**Update Index Branch:**\n- Index changed → Update Index File\n\n\nEach branch processes independently.",
          "height": 496,
          "width": 360,
          "color": 7
        },
        "id": "58bdd1d3-f66e-4e0e-92ba-34984a6a1c36",
        "name": "Switch Routing",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1696,
          880
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## ✏️ SMART EDIT DETECTION\n\n**Why needed:**\n- n8n changes timestamps/metadata on save\n- Prevents unnecessary commits\n\n\n**Process:**\n1. Fetch current file from GitHub\n2. Parse both GitHub & n8n versions\n3. Normalize JSON (sort keys)\n4. Compare stringified versions\n5. Only commit if truly different\n\n\n**Benefits:**\n- Cleaner commit history\n- No spam commits\n- Saves GitHub API calls",
          "height": 428,
          "width": 380,
          "color": 6
        },
        "id": "6dd7f0b9-52bd-4261-ac9c-762356844060",
        "name": "Smart Edit Detection",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3024,
          576
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 📝 COMMIT MESSAGES\n\nAuto-generated commit messages:\n\n**Format:** `[Workflow Name] ([Action]) YYYY-MM-DD`\n\n**Examples:**\n- `My Workflow (Created) 2026-01-15`\n- `My Workflow (Edited) 2026-01-15`\n- `My Workflow (Deleted) 2026-01-15`\n- `Index (Edited) 2026-01-15`\n\n\n**Benefits:**\n- Clear action history\n- Easy to track changes\n- Searchable by date",
          "height": 404,
          "width": 360,
          "color": 3
        },
        "id": "c72af403-2214-4d74-8fd0-e59928da3038",
        "name": "Commit Messages",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2400,
          624
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": "=The resource you are requesting could not be found"
              }
            ]
          },
          "options": {}
        },
        "id": "a267a912-9806-42df-aa42-081337c2da01",
        "name": "Workflows Folder Not Found",
        "type": "n8n-nodes-base.if",
        "position": [
          1200,
          1840
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "c788bc8c-534f-4b50-9147-be4e2eeb6882",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          1200,
          1600
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "a9475aac-fcdf-46a3-94f5-924e20a23488",
        "name": "Get File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1440,
          1616
        ],
        "retryOnFail": true,
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo_name }}"
          },
          "filePath": "workflows/"
        },
        "id": "4c0c8520-e291-4a14-9e31-a80153a9c0fc",
        "name": "List Workflow Files",
        "type": "n8n-nodes-base.github",
        "position": [
          976,
          1616
        ],
        "webhookId": "b4034155-275a-407e-8168-e9e9c7b1babe",
        "retryOnFail": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "E37M2EwCiydcBefw",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "create",
          "workflowObject": "={{ $json.data }}",
          "requestOptions": {}
        },
        "id": "8d42daef-f37e-4aea-ae58-b7e87d9d1385",
        "name": "Create Workflow",
        "type": "n8n-nodes-base.n8n",
        "position": [
          1664,
          1616
        ],
        "executeOnce": false,
        "retryOnFail": true,
        "typeVersion": 1,
        "alwaysOutputData": false,
        "credentials": {
          "n8nApi": {
            "id": "htN1ihUR63zRPZzx",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "content": "## 🔄 HOW IT WORKS\n\n**Sequential Processing:**\n- Loops through files one at a time\n- Downloads JSON from GitHub\n- Creates workflow in n8n\n- Prevents conflicts and rate limits\n\n**Error Handling:**\n- If `workflows/` folder not found → stops gracefully\n- Ensure backup workflow ran at least once first",
          "height": 284,
          "width": 400,
          "color": 6
        },
        "id": "5ba29273-7901-4c81-b65e-51fa64090dce",
        "name": "How It Works",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          704,
          1808
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "452d7af0-1a81-4426-a171-0379eb83f575",
                "name": "repo_owner",
                "type": "string",
                "value": "your-github-username"
              },
              {
                "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
                "name": "repo_name",
                "type": "string",
                "value": "your-github-repository-name"
              }
            ]
          },
          "options": {}
        },
        "id": "e0a6879b-cb51-49cc-a156-447c89452747",
        "name": "Set Github Data1",
        "type": "n8n-nodes-base.set",
        "position": [
          768,
          1616
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "# n8n-Workflow-Github-Restore",
          "height": 675,
          "width": 1494,
          "color": 7
        },
        "id": "b5fd496c-0817-4123-ac33-0b6cc8890d2c",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          432,
          1456
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Restore n8n workflows from GitHub backup\n\n**Flow:**\n1. Manual trigger\n2. Set GitHub repo details\n3. List workflow files from GitHub\n4. Loop through each file\n5. Download & create workflow in n8n\n\n\n**Use Cases:**\n- New n8n instance setup\n- Disaster recovery\n- Cloning workflows to another environment",
          "height": 372,
          "width": 416,
          "color": 2
        },
        "id": "d8436e03-1833-43ce-9059-6660c7fc3819",
        "name": "Workflow Summary1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -16,
          1456
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Index File": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download Url for Index File": {
        "main": [
          [
            {
              "node": "Get Index File Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Index File Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Index File Content": {
        "main": [
          [
            {
              "node": "Get All Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Index File Not Found": {
        "main": [
          [
            {
              "node": "Create Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Github Data": {
        "main": [
          [
            {
              "node": "Get Download Url for Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Set Github Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Workflows": {
        "main": [
          [
            {
              "node": "C,E,D Checker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C,E,D Checker": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download Url for Github File": {
        "main": [
          [
            {
              "node": "Get Github File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Create New Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Download Url for Github File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Github & n8n File",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Delete Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Github File Content": {
        "main": [
          [
            {
              "node": "Parse Github File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Github File Content": {
        "main": [
          [
            {
              "node": "Merge Github & n8n File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Edit Checker": {
        "main": [
          [
            {
              "node": "If File Edited",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Github & n8n File": {
        "main": [
          [
            {
              "node": "File Edit Checker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If File Edited": {
        "main": [
          [
            {
              "node": "Edit Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Get File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File Content": {
        "main": [
          [
            {
              "node": "Create Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Workflow Files": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Workflows Folder Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Github Data1": {
        "main": [
          [
            {
              "node": "List Workflow Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Minard Viterbo",
    "name": "Github-Backup",
    "description": "",
    "autosaved": true
  },
  "tags": []
}